input,
button {
  color: var(--mint-green);
  accent-color: var(--mint-green);
}

a {
  color: var(--mint-green);
}

/* harms accessibility? */
button:focus-visible,
input:focus-visible {
  outline-color: var(--bright-green);
}

button {
  background-color: var(--muted-green);
  border-color: var(--bright-green);
}

.button--primary:hover {
  background-color: var(--dark-green);
}

.add-button:hover {
  background-color: var(--muted-green);
}

.button--secondary {
  color: var(--greyer-green);
}

.button--secondary:hover {
  color: var(--grey-green);
}

.page-header .button--secondary {
  color: var(--grey-green);
}

.page-header .button--secondary:hover {
  color: var(--mint-green);
}

/* */

body {
  background: linear-gradient(var(--dark-green), var(--darker-green));
  color: var(--mint-green);
}

.page-header {
  background-color: var(--muted-green);
}

.about {
  color: var(--dark-mint-green);
}

/* INPUT */

.string-input {
  border-color: var(--bright-green);
}

/* OUTPUT */

.other-patterns h3 {
  color: var(--grey-green);
}

.pattern dt {
  color: var(--grey-green);
}

.pattern.duplicate {
  color: var(--greyer-green);
}

.pattern--primary dd {
  background-color: var(--muted-green);
  border-color: var(--bright-green);
}

/* SAVED */

.entry-strings {
  color: var(--greyer-green);
}