:root {
  --mint-green: #A2C7C3;
  --grey-green: #819B98;
  --greyer-green: #5d6d6c;
  --bright-green: #2C7F66;
  --muted-green: #0D4F3B;
  --dark-green: #031B14;
  --darker-green: #02150F;

  --spacing: 3rem;
}
@media (max-width: 800px) {
  :root {
    --spacing: 1rem;
  }
}

/* harms accessibility? */
/* ::selection {
  background-color: var(--muted-green);
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: "IBM Plex Mono", monospace;
}

input,
button {
  font-family: inherit;
  color: var(--mint-green);
  accent-color: var(--mint-green);
}

/* harms accessibility? */
button:focus,
input:focus {
  outline: 2px solid var(--bright-green);
  outline-offset: 2px;
}

button {
  padding: 0.3em 0.6em;
  cursor: pointer;
  border-radius: 0.3em;
  background-color: var(--muted-green);
  border: 0.15em solid var(--bright-green);
  transition: 0.1s background-color;
}

button:hover {
  background-color: var(--dark-green);
}

button[type="submit"] {
  font-weight: 600;
  background-color: var(--muted-green);
  border: 0.2em solid var(--bright-green);
  padding: 1em 1.5em;
  font-size: 1rem;
}

button[type="submit"]:hover {
  background-color: var(--dark-green);
}

h1 {
  margin: 0;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
  font-family: "IBM Plex Serif", serif;
  background: linear-gradient(var(--dark-green), var(--darker-green));
  color: var(--mint-green);
  padding: 0 var(--spacing);
}

header {
  max-width: 1200px;
  width: 100%;
  margin: var(--spacing) auto;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: var(--spacing) auto;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - calc(3rem / 2)));
  gap: 3rem;
}
@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.input {
  display: flex;
  flex-direction: column;
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.controls {
  display: flex;
  gap: 0.5em;
}

@media (max-width: 1200px) {
  .end-controls {
    flex-direction: column;
  }
}

.string-input-container {
  display: grid;
  grid-template-columns: 1fr 4.5em;
  gap: 1rem;
  align-items: center;
}

.string-input {
  font-size: 2rem;
  padding: 0.5em;
  border: 2px solid var(--bright-green);
  background-color: transparent;
  width: auto;
}

.patterns {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.patterns h2 {
  margin: 0;
}

.other-patterns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.other-patterns h3 {
  margin: 0;
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--grey-green);
  font-weight: normal;
}

.pattern {
  font-family: "IBM Plex Mono", monospace;
  position: relative;
  display: flex;
  flex-direction: column;
}

dd {
  margin-left: 0;
}

.pattern dt {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1rem;
  color: var(--grey-green);
}

.pattern.duplicate {
  color: var(--greyer-green);
}

.pattern.duplicate dt {
  color: currentColor;
}

.pattern.primary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pattern.primary dd {
  background-color: var(--muted-green);
  border: 0.5em solid var(--bright-green);
  padding: 1em;
  font-size: 2rem;
  width: max-content;
}